.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bold;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  overflow-x: hidden;
}

.header__left {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding-right: 15px;
}

.header__logo {
  padding-right: 15px;
}

.utube__logo {
  color: #ff0000;
}

.header__center {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid rgb(197, 196, 196);
}

.header__center > input {
  flex: 1;
  border: none;
  height: 25px;
}

.searchIcon {
  border: 1px solid rgb(186, 184, 184);
  background-color: rgb(186, 184, 184);
  height: 25px !important;
}

.header__right {
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 20px;
}

.header_AppIcons {
  width: 20px;
  margin-right: 10px;
}
.header_appLink {
  display: flex !important;
  color: black;
  text-decoration: none;
  align-items: center !important;
}
.header_appLink:hover {
  color: black;
}
